# Byte-compiled / optimized / DLL files
__pycache__/
*.temp.*
*.py[cod]

# Distribution / packaging
wheels/
MANIFEST

# Logs
logs/
*.log

# UV
uv.lock
.python-version

# Environments
.env
.venv
env/
venv/
ENV/

# Rope project settings
.ropeproject

# Ruff stuff:
.ruff_cache/
