# cache
## folders
__pycache__/
data/cache/
data/temp/
## files
*.py[cod]
*.temp.*

# packaging
## folders
.mypy_cache/
.ropeproject/
.ruff_cache/
wheels/ 
## files
.ropeproject
MANIFEST
mypy_config.toml

# environments
## folders
env/
ENV/
venv/
## files
.env
.venv
.settings

# logs
## folders
logs/
## files
*.log

# my
## folders
.vscode/
## files
TempCodeFile.py

# uv
## folders
## files
.python-version
uv.lock